.footer {
    background: rgb(177, 2, 44);
    background: $color-principal;
    min-width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;

    .terminos {
        color: white;
        flex: 1;
        text-align: center;
        position: absolute;
        left: 35%;
        display: inline-block;
    
    }
    
    .redes {
        right: 0.5;
        text-align: end;
        flex-direction: column;
        flex: 1;

        &_lista {

            font-family: sans-serif;
            text-decoration: none;
            color: white;
            padding: 2rem;
        }
    }

    li {
        display: block;
    }

}



.footer_mobile {
    display: none;
}