
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  font-family: sans-serif;
  background: rgb(135, 1, 32);
  background: $color-principal;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  .nav {

      padding: 1rem;
    }
    .lista{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }
    
    .enlace {
      margin-left: 16px;
      flex: 1;
      text-decoration: none;
      color: white;
      padding: 0.3rem;
      
      
    }
    
    header ul li {
      display: inline-block;
    }
    
    .header__open {
      display: none;
    }
    
    .nav__item--close {
      display: none;
    }
