
.sombra{
    color: white;
    background-color: rgba(0, 0, 0, 0.279);
}

.fondo_torneo{
    padding: 2rem;
    background: rgb(24,192,219);
background: linear-gradient(90deg, rgba(24,192,219,0.8634804263502276) 1%, rgba(22,62,231,0.8074580173866421) 40%, rgba(22,62,231,0.9110994739692753) 99%);
}
.lead{
    color: white;
}

.titulo_torneo{
    text-decoration: underline;
}
.table{
    color: white;
}

.balon_mobil{
    display: none;
}